.card__image {
  display: block;
  width: 130px;
  height: 160px;
  object-fit: contain;
  object-position: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .card__image {
    width: 104px;
    height: 144px;
  }
}

@media screen and (max-width: 580px) {
  .card__image {
    width: 89px;
    height: 130px;
  }
}
