.aside__button {
  display: none;
  position: absolute;
  top: 0;
  right: -48px;
  width: 48px;
  height: 106px;
  padding: 43px 17px 43px 5px;
  margin: 0;
  background-color: transparent;
  background-image: url(../../../images/button-aside.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .aside__button {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .aside__button {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .aside__button {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .aside__button {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .aside__button {
    display: block;
  }
}
