.aside__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 41px;
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .aside__logo {
    padding: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .aside__logo {
    padding: 41px;
  }
}

@media screen and (max-width: 900px) {
  .aside__logo {
    padding: 40px;
  }
}

@media screen and (max-width: 720px) {
  .aside__logo {
    padding: 41px;
  }
}

@media screen and (max-width: 580px) {
  .aside__logo {
    padding: 40px;
  }
}

@media screen and (max-width: 420px) {
  .aside__logo {
    display: none;
    padding: 40px 20px;
  }
  .aside__logo_opened {
    display: flex;
  }
}
