.aside__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 41px;
    margin: 0;
}

@media screen and (max-width: 1200px) {
  .aside__logo {
    padding: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .aside__logo {
    padding: 41px;
  }
}

@media screen and (max-width: 900px) {
  .aside__logo {
    padding: 40px;
  }
}

@media screen and (max-width: 720px) {
  .aside__logo {
    padding: 41px;
  }
}

@media screen and (max-width: 580px) {
  .aside__logo {
    padding: 40px;
  }
}

@media screen and (max-width: 420px) {
  .aside__logo {
    display: none;
  }
}

.aside__logo_opened {
  display: flex;
  padding: 41px;
}
