.card {
  position: absolute;
  top: 1px;
  left: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: calc(100% - 2px);
  height: 158px;
  padding: 0;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
}

.card::before {
  content: '';
  display: block;
  position: absolute;
  top: 74px;
  left: -5px;
  width: 9px;
  height: 9px;
  border-radius: 1px;
  background-color: #FAFAFA;
  transform: rotate(45deg);
  z-index: 1;
}

.card::after {
  content: '';
  display: block;
  position: absolute;
  top: 74px;
  right: -5px;
  width: 9px;
  height: 9px;
  border-radius: 1px;
  background-color: #FAFAFA;
  transform: rotate(45deg);
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .card {
    height: 142px;
  }
  .card::before {
    top: 66px;
  }
  .card::after {
    top: 66px;
  }
}

@media screen and (max-width: 580px) {
  .card {
    height: 128px;
  }
  .card::before {
    top: 59px;
  }
  .card::after {
    top: 59px;
  }
}

.card:hover ~ .card__top,
.card:hover ~ .card__bottom,
.card:hover > .card__triangle {
  border-color: red;
}
