.header__label {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

.header__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 52px;
  background-image: url(../../../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}
