.category__text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #333333;
  padding: 0;
  margin: 0 0 0 12px;
}

.category__text_active {
  color: #34ABE0;
}

@media screen and (max-width: 1300px) {
  .category__text {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .category__text {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .category__text {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .category__text {
    display: block;
  }
}

@media screen and (max-width: 580px) {
  .category__text {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .category__text {
    margin: 0;
  }
}

.category__text_opened {
  display: block;
}
